.container {
    height: 100%;
}

.btn-flat {
    background-color: #0D66A0;
    border: none;
    border-radius: 8px !important;
    outline: none;
    color: white;
}

.login-error {
    color: red !important;
}

.btn-medium {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.margin-top-login {
    margin-top: 25%;
}