.header-height {
    height: 200px !important;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: white !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
}