.active-simple {
    /* couleur texte selection gauche ici */
    font-size: 2em;
    color: #fff !important;
}

a:hover {
    font-weight: 800;
    color: snow;
}

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    /* fond ici */
    background-color: #F7F7F8 !important;
}

.form {
    font-family: Rubik;
    font-size: 1.2em;
    font-weight: 300;
}

.title {
    font-family: Rubik;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.1em;
    font-size: 2em;
}

.description {
    font-family: Rubik;
    font-size: 1.2em;
    text-align: left !important;
    font-weight: 300;
}

.about-container {
    margin-top: 15px;
    width: 67%;
    font-weight: 300;
}

.about-row {
    margin: 30px;
    margin-top: 70px;
}

p div {
    color: #32325d;
}

.card {
    border: none;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

.user {
    height: 235px;
    width: 235px;
    object-fit: cover;
    border-radius: 50%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title,
.card-text {
    text-align: center;
}

.card-title {
    font-family: Rubik;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.1em;
    font-size: 1.3em;
}

.goals-container {
    padding: 67px 60px 60px 67px;
}

.technos-list {
    padding: 0px 60px 60px 67px;
}

.goals-container>h2,
.technos-list>h2 {
    text-align: center;
}

.goals-content {
    text-align: center !important;
    white-space: pre-wrap;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
}

.location {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.form-cv {
    margin-top: 17px;
}

legend {
    /* text-align: center; */
    font-size: 1.5rem;
}

.contact {
    margin-top: 15px;
    font-size: 17px;
}

small {
    color: red !important;
}

label {
    font-size: 17px;
}

.default-container {
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-90w {
    max-width: 90%;
}

.modal-50w {
    max-width: 50%;
}

.modal-dialog {
    font-family: Rubik;
}

.btn-primary {
    background-color: #290a54;
}

.btn-primary:hover {
    background-color: #290a54;
}

.navbar-vl {
    border-left: 1px solid #C6DBEC;
    height: 60px;
}

.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
}

.test-background {
    background-color: #290a54 !important;
}

.produit-head-height {
    height: 200px;
    position: relative;
}

.country-card-header {
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.65);
    border-width: 0.1px;
    border-color: lightsteelblue;
    border-style: solid;
    /* -webkit-box-shadow: -0.3rem 0 0.5rem #838689;
    box-shadow: -0.3rem 0 0.5rem #838689; */
}

.country-card-container {
    width: 250px;
    height: 290px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-color: #d7d7da;
    border-style: solid;
    background-color: #fff !important;
    /*-webkit-box-shadow: -0.5rem 0 0.8rem #838689;
    box-shadow: -0.5rem 0 0.8rem #838689;*/
    margin: 0;
}

.country-text-container {
    position: absolute;
    left: 25px;
    bottom: 10px;
}

.country-list {
    background-color: #6b88a4;
    border-radius: 4px;
}

.produit-image {
    margin-top: 15px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #fff;
    border-style: solid;
    border-color: #6b88a4;
    border-width: 2px;
}

.country-price {
    font-size: 0.7rem;
    padding-left: 2px;
    padding-right: 2px;
    color: #fff;
}

.country-name {
    font-size: 0.9rem;
}

.country-region {
    font-size: 0.7rem;
}

.country-page,
.country-name,
.country-region {
    line-height: 1;
}

.spacing-manage {
    margin-top: 3px;
}

ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.pagination li.page-item.active a.page-link {
    color: #445565 !important;
    background-color: #e3e7eb !important;
    border-color: #ced4da !important;
}

ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem;
}

ul.pagination a.page-link:hover {
    background-color: #f4f4f4;
}


/*-----------NAVBAR-DROPDOWN-----------*/

.separator-cent {}

.txt-cent {
    padding-top: 19px !important;
}

.bg-drop {
    height: 50px;
}

.container-back {
    background-color: #dedede;
}