.banner {
    color: #ffffff;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    font-family: Rubik;
}

.banner h1 {
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
}